@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	z-index: 99999;
	width: 11px;
	height: 11px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: rgb(255, 255, 255, 0.2);
	background-clip: content-box;
	border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 20px;
	background: rgb(255, 255, 255, 0.25);
	background-clip: content-box;
	border: 3px solid transparent;
}

@layer base {
	body {
		@apply bg-guilded-grey-lightest text-white;
	}

	a {
		@apply hover:brightness-110;
	}

	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply pb-1 border-b-2 border-guilded-grey-lightest brightness-125 mt-2;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	h4 {
		@apply text-xl;
	}

	h5 {
		@apply text-lg;
	}

	code,
	pre {
		@apply text-guilded-white bg-guilded-grey-dark rounded-md !important;
	}
}
